<div id="footer" class="col-md-12">

	<a alt="Trazeo en facebook" title="Trazeo en facebook" class="social" href="http://www.facebook.com/trazeo"><i class="fa fa-3x fa-facebook-square"></i></a>&nbsp;&nbsp;
	<a alt="Trazeo en twitter" title="Trazeo en twitter" class="social" href="http://twitter.com/Trazeo"><i class="fa fa-3x fa-twitter-square"></i></a>
	<br /><br />
	Copyright &copy; 2014 Trazeo


</div>