<div id="footer" class="col-md-12">
<p>
	<a alt="Trazeo en facebook" title="Trazeo en facebook" class="social" href="http://www.facebook.com/trazeo"><i class="fa fa-2x fa-facebook"></i></a>&nbsp;&nbsp;
	<a alt="Trazeo en twitter" title="Trazeo en twitter" class="social" href="http://twitter.com/Trazeo"><i class="fa fa-2x fa-twitter"></i></a>
	<br />
	Copyright &copy; 2014 Trazeo
</p>

</div>