<div id="footer" class="col-md-12">
<p>
	<a href="#"><i class="fa fa-3x fa-facebook-square"></i></a>&nbsp;
	<a href="#"><i class="fa fa-3x fa-twitter-square"></i></a>
	<br />
	Copyright &copy; 2014 Trazeo
</p>

</div>